@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('Nexa-ExtraLight.ttf') format('truetype');
}

* {
    font-family: 'Nexa', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 7.5vh;
    margin-left: 10vw;
}

.btn-nav {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold; 
    border-color: #e700a2;
    color: #e700a2;
    border-radius: 30px;
    width: 130px;
    height: 36px;
    border: 1px solid;
    margin-right: 15vw;
    margin-top: 54px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    transition: 0.6s;
}

.btn-nav:hover {
    background-color: #e700a2;
    color: #ffffff;
}

h1 {
    color: #042631;
    font-size: 40px;
    text-align: center;
    margin-top: 15vh;
}

.div-p p {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    color: #042631;
    text-align: center;
    width: 40vw;
    position: relative;
    left: 30vw;
    margin-top: 25px;
}

.btn-get-start {
    color: #ffffff;
    border: none;
    border-radius: 70px;
    width: 20%;
    height: 60px;
    font-size: 17px;
    background: radial-gradient(#eb3bb0, #e425aa);
    margin-top: 30px;
    cursor: pointer;
    transition: 0.6s;
    box-shadow: #4e4e4e 0.5px 0.5px 7px;
}

.btn-get-start:hover {
    opacity: 0.9;
}

.div-btn-start {
    text-align: center;
}

.section-top {
    margin-bottom: 8vh;
}

.div-screens {
    text-align: center;
}

.screens {
    width: 75%;
}

.section-com-msg {
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
}

.communities, .messages {
    width: 50px;
}

.div-com{
    margin-left: 26vw;
}

.div-msg {
    margin-right: 26vw;
}

.com-msg-heavy {
    font-size: 80px;
    color: #042631;
}

.com-msg-light {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    color: #838f95;
    font-size: 18px;
    text-align: center;
}

.section-grow {
    display: flex;
    justify-content: space-between;
    margin-top: 45vh;
}

h2 {
    font-size: 40px;
    color: #042631;
}

.p-3 {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    width: 35vw;
    color: #042631;
    margin-top: 15px;
}

.div-grow {
    margin-left: 12vw;
}

.grow-img {
    position: relative;
    right: 14vw;
    bottom: 14vh;
    width: 500px;
}

.section-flowing {
    display: flex;
    justify-content: space-between;
    margin-top: 30vh;
}

.div-flowing {
    margin-right: 7vw;
}

.flowing-img {
    width: 500px;
    position: relative;
    left: 14vw;
    bottom: 14vh;
}

.section-users {
    display: flex;
    justify-content: space-between;
    margin-top: 30vh;
}

.div-users {
    margin-left: 12vw;
}

.users-img {
    width: 500px;
    position: relative;
    right: 14vw;
    bottom: 14vh;
}

.mid-final {
    text-align: center;
    margin-top: 20vh;
}

.bg-footer-img {
    width: 100%;
    margin-top: 18vh;
    position: relative;
    top: 8px;
}

.div-final-footer {
    width: 100%;
    height: 100%;
    background-color: #042530;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-left: 13vw;
    margin-top: 10vh;
}

.p-footer {
    color: white;
    width: 27vw;
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 16px;
}

.div-ph {
    display: -webkit-box;
    margin-left: 20px;
    margin-bottom: 10px;
}

.div-em {
    display: -webkit-box;
    margin-left: 20px;
}

.p-ph-em {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    bottom: 3px;
    left: 25px;
    color: white;
}

.social-midias {
    margin-top: 55px;
    margin-bottom: 30px;
}

.footer-right {
    margin-right: 13vw;
    margin-top: 15vh;

}

h3 {
    color: white;
}

.footer-right p {
    font-family: 'Nexa-Light', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    width: 27vw;
    margin-top: 12px;
    margin-bottom: 35px;

}

.subscribe {
    display: flex;
    justify-content: space-between;
}

input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-radius: 5px;
    height: 4vh;
    width: 18vw;
}

.btn-subscribe {
    border-radius: 5px;
    background: radial-gradient(#eb3bb0, #e425aa);
    cursor: pointer;
    transition: 0.6s;
    box-shadow: #4e4e4e 0.5px 0.5px 1px;
    border: none;
    color: white;
    width: 8vw;
    margin-left: 30px;
}

.btn-subscribe:hover {
    opacity: 0.9;
}

@media (max-width: 1250px) {

    .section-com-msg {
        display: block;
    }

    .div-com {
        text-align: center;
        margin-left: 0;
        margin-bottom: 12vh;
    }

    .div-msg {
        text-align: center;
        margin-right: 0;
    }

    .communities {
        position: relative;
        right: 65px;
    }

    .messages {
        position: relative;
        right: 75px;
    }

    .section-grow {
        display: block;
    }

    .grow-img {
        position: relative;
        bottom: 45vh;
        left: 30vw;
    }

    .div-grow {
        position: relative;
        top: 22vh;
        left: 25vw;
    }

    h2 {
        position: relative;
        left: 40px;
    }

    .p-3 {
        text-align: center;
        position: relative;
        right: 3%;
    }

    .section-flowing {
        display: block;
    }

    .flowing-img {
        position: relative;
        left: 30vw;
    }

    .div-flowing {
        position: relative;
        left: 29vw;
        bottom: 6vh;
    }

    .div-flowing p {
        position: relative;
        left: 8%;
        width: 30%;
    }

    .section-users {
        display: block;
    }

    .users-img {
        position: relative;
        bottom: 22vh;
        left: 30vw;
    }

    .div-users {
        position: relative;
        top: 40vh;
        left: 25vw;
    }

    .div-users p {
        position: relative;
        right: 7%;
    }

    .mid-final {
        margin-top: 30vh;
    }
}

@media (max-width: 1000px)  {
    .div-grow p {
        position: relative;
        left: 1%;
    }

    .div-flowing  p {
        position: relative;
        left: 14%;
    }

    .div-users p {
        position: relative;
        right: 3%;
    }
}

@media (max-width: 450px) {
    .logo {
        width: 140px;
        margin-top: 42px;
        margin-left: 30px;
    }

    .btn-nav {
        width: 115px;
        height: 30px;
        margin-top: 35px;
        margin-left: 21vw;
    }

    h1 {
        text-align: center;
        font-size: 31px;
    }

    .div-p p {
        width: 71vw;
        position: relative;
        left: 14vw;
    }

    .btn-get-start {
        width: 195px;
        height: 40px;
        font-size: 13px;
    }

    .screens {
        width: 85%;
    }

    .grow-img {
        width: 350px;
        position: relative;
        left: 3vw;
        bottom: 45vh;
    }

    .div-grow {
        left: 18vw;
        position: relative;
    }

    h2 {
        position: relative;
        left: -12vw;
        font-size: 35px;
    }

    .div-grow p {
        width: 80vw;
        position: relative;
        left: -20vw;
    }

    .flowing-img {
        width: 350px;
        position: relative;
        left: 5vw;
        bottom: 10vh;
    }

    .div-flowing {
        position: relative;
        left: 28vw;
    }

    .div-flowing h2 {
        width: 120vw;
        position: relative;
        left: -21vw;
        font-size: 30px;
    }

    .div-flowing p {
        width: 80vw;
        position: relative;
        left: -18vw;
    }

    .users-img {
        width: 350px;
        position: relative;
        left: 5vw;
        bottom: 22vh;
    }

    .div-users {
        position: relative;
        left: 17vw;
    }

    .div-users h2 {
        position: relative;
        left: -4vw;
    }

    .div-users p {
        position: relative;
        width: 80vw;
        left: -20vw;
    }
    
    .mid-final h2 {
        margin-left: 20vw;
        width: 79vw;
    }

    .bg-footer-img {
        position: relative;
        top: 11vh;
    }

    .div-final-footer {
        display: block;
        position: relative;
        height: 120vh;
    }

    .footer-right {
        position: relative;
        bottom: 60vh;
        left: 9vw;
    }

    .footer-left {
        position: relative;
        top: 50vh;
        right: 9vw;
    }
    

    .footer-right p {
        width: 80vw;
    }

    .subscribe, form {
        display: grid;
    }

    .btn-subscribe {
        width: 30vw;
        margin-top: 10px;
        margin-left: 50vw;
    }

    .input-email {
        width: 80vw;
    }

    .footer-left p {
        width: 80vw;
    }


}